.full-width {
    width: 100% !important;
    height: auto;
}

/* misc */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.position-relative {
    position: relative;
}

/* overflow */
.overflow-hidden {
    overflow: hidden !important;
}

.overflow-visible {
    overflow: visible !important;
}

/* layouts */
.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

.fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* fixed position */
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top {
    position: fixed;
}

.fixed-top {
    top: 0;
    left: 0;
    right: 0;
}

.fixed-right {
    top: 0;
    right: 0;
    bottom: 0;
}

.fixed-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.fixed-left {
    top: 0;
    bottom: 0;
    left: 0;
}

/* float */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clear-right {
    clear: right;
}

.clear-left {
    clear: left;
}

.clear-both {
    clear: both;
}

/* flex */

.flex {
    display: flex;

    &.cell {
        flex: 1;
    }

    &.equal-sizing {
        >* {
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    @for $i from 1 to 8 {
        .flex-#{$i} {
            -ms-flex: $i;
            -webkit-flex: $i;
            flex: $i;
        }
    }

    &.flex-column {
        flex-direction: column;

        &.top {
            justify-content: flex-start;
        }

        &.bottom {
            justify-content: flex-end;
        }

        &.vertical-center {
            justify-content: center;
        }

        &.space-between {
            justify-content: space-between;
        }

        &.space-around {
            justify-content: space-around;
        }
    }

    // end column

    &.flex-row {
        flex-direction: row;

        &.wrap {
            flex-flow: row wrap;
        }

        &.top {
            align-items: flex-start;
        }

        &.bottom {
            align-items: flex-end;
        }

        &.vertical-center {
            align-items: center;
        }

        &.baseline {
            align-items: baseline;
        }

        &.stretch {
            align-items: stretch;
        }
    }

    // end row

    // along main axis
    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

    &.center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

}


.self-top {
    align-self: flex-start;
}

.self-bottom {
    align-self: flex-end;
}

.self-vertical-center {
    align-self: center;
}

.self-baseline {
    align-self: baseline;
}

.self-stretch {
    align-self: stretch;
}

// end flexbox helpers